@import './reset.scss';
@import './mixin.scss';
@import './variable.scss';

/* prettier-ignore */
#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",SimSun, sans-serif;
  min-height: 100vh;
  font-size: 12PX;
  max-width: 540PX;
  min-width: 320PX;
  margin: 0 auto;
}

.slider-decorator-0 {
    bottom: 10px !important;
}
